-provide(:title, 'home')
=image_tag "background_2.jpg", class: "img-fluid img-responsive" ,alt: "Responsive image"
.row
	=image_tag "salem_face3.jpg", id: "face-pic", class: "img-circle img-fluid img-responsive", alt: "Responsive image"

.panel-body.text-center 
	%h5.panel-title
		.google-font-cursive 
			Salem Abdusalam
	%p 
		Software Developer, Full Stack/Ruby on Rails Engineer. 
	%p#btn-view 
		=link_to "View Github", "https://github.com/amba178", target: "_blank", class: "btn btn-primary" 
		=link_to "View LinkedIn", "https://www.linkedin.com/in/salem-abdusalam-72487715?trk=nav_responsive_tab_profile", target: "_blank", class: "btn btn-primary" 

			 
	