
%footer{:id => footer_position(controller_name, action_name, flash['notice']), class: 'footer'}
	%div{:class => 'container'}
		%ul{class: "footer-list"}
			%li{class: "footer-list-item"}
				=link_to "About Me", about_path 
			%li{class: "footer-list-item"}
				=link_to "Contact", contact_path 
			%li{class: "footer-list-item"}
				=link_to "Hometown Photo Gallery", photos_url
			%li{class: "footer-list-item"}= link_to 'Videos Gallery', '#'