%footer{:id => [controller_name =='registrations' || controller_name =='photos' && action_name == 'index' ? 'footer-relative' : 'footer-absolute'], class: 'footer'}
	%div{:class => 'container'}
		%ul{class: "footer-list"}
			%li{class: "footer-list-item"}
				=link_to "About Me ", about_path 
			%li{class: "footer-list-item"}
				=link_to "Contact", contact_path 
			%li{class: "footer-list-item"}
				=link_to "Hometown Photo Gallery", photos_url 	