- provide(:title, "Upload video")

.col-md-offset-1
	%h2{class: 'text-center page-header'} Upload video 
- if !current_user.nil? && current_user.provider == 'google_oauth2'
	.row
		.col-md-6.col-md-offset-3
			=form_for @video_upload do |f|
				= render 'shared/error_messages', object: f.object
		
				.form-group 
					=f.label :tile 
					=f.text_field :title, class: 'form-control', required: true 
				.form-group
					=f.label :description 
					=f.text_area :description, class: 'form-control', cols: 4 
				.form-group 
					=f.label :file, "Choose file to upload", class: 'custom-file-upload' 
					=f.file_field :file, required: true 
				=f.submit 'Upload', class: 'btn btn-primary btn-block'
-else
	.row
		.col-md-6.col-md-offset-3
			%p=link_to "Please, login with google", user_google_oauth2_omniauth_authorize_path, class: "btn btn-primary btn-block"
