
 $(document).on('turbolinks:load', function(){
		jQuery(function() { 
			$('body').prepend('<div id="fb-root"></div>')
			$.ajax({
				url: "https://connect.facebook.net/en_US/all.js",
				dataType: 'script',
				cache: true
			});
		});
		window.fbAsyncInit = function(){ 
			FB.init({appId: '<%= ENV["FACEBOOK_API_ID"] %>', version: 'v2.0', cookie: true});
			$('#sign-in').click(function(e) {
				e.preventDefault()
				FB.login(function(response) {
		  			if (response.authResponse) {
		    		 return window.location = '/auth/facebook/callback';
		  			}
				});
			});
			$('#sign-out').click(function(e) {
		 		 FB.getLoginStatus(function(response) {
		    	if (response.authResponse) {
		     	 return FB.logout();
		    	}
		  	});
		  		return true;
			});
		if (typeof($('#map').data('photo')) != "undefined"){
			document.getElementById('shareBtn').onclick = function() {
	  			FB.ui({
	    			method: 'share_open_graph',
	    			action_type: 'og.shares' , 
	    			display: 'popup',
	    			action_properties: JSON.stringify({
	    				object: 'http://develop-sagan.herokuapp.com/photos/' + $('#map').data('photo').id 
	    			}),
	  				}, 
	  				function(response){
	  					if(response && !response.error){
	  						alert("Successfully posted. ");
	  					}else{
	  						alert('Error: ' + response.error.message);
	  					}
	  			});
			}
		}


	
		}

	});



