 $(document).on('turbolinks:load', function(){

  window.initMap= function() {
        var photo = {lat:  $('#map').data('photo').latitude , lng: $('#map').data('photo').longitude};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: photo
        });
       
        var contentString = '<div class="panel panel-info photo-scroll-disable">' + 
                        '<div class="panel-heading">' +
                        '<h6 class="text-center">' +
                         $('#map').data('photo').name + 
                         '</h6>'+
                        '</div>' + 
                        '<div class="panel-body">' + 
                        $('#map').data('photo').description +
                        '</div>'+
                        '</div>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

      var labelIndex = 0; 
      var labelName = $('#map').data('photo').name 

      var marker = new google.maps.Marker({
        position: photo,
        label: labelName[labelIndex++ % labelName.length],
        map: map,
        title: $('#map').data('photo').name 
        })

       marker.addListener('mouseover', function() {
        infowindow.open(map, marker);
        });
        return this;
      }



  jQuery(function() { 
      $.ajax({
      url: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCq9314Upd-gDtNV6MONbTVEo-g5lxrUSI&callback=initMap',
      dataType: 'script',
      cache: true
    });
  });

});



