.row
	.col-xs-offset-4.col-sm-offset-4.col-md-offset-4.col-lg-offset-4.col-xs-4
		%h3{class: 'text-center'} Post New Photo 
		%hr
		=form_for @photo, :html => {:multipart => true} do |f|
			%p File: #{@photo.photo_name}
			.form-group
				=f.label :name 
				=f.text_field :name, class: 'form-control'
			.form-group
				=f.label :address
				=f.text_field :address, class: 'form-control'
			.form-group
				=f.label :longitude 
				=f.text_field :longitude, class: 'form-control'
			.form-group
				=f.label :latitude 
				=f.text_field :latitude, class: 'form-control'
			.form-group
				=f.label :description 
				=f.text_area :description, class: 'form-control'

			=f.hidden_field :key 
			=f.submit "Post Photo", class: 'btn btn-primary btn-block'