-provide(:title, "Photos")

%h3.text-center.google-font-tangerine
	Photo Galleries

.row.well.well-lg#gallery-index
	-@photos.each do |photo|
		.col-sm-6.col-lg-4.col-md-4.col-xs-12.img-responsive
			-# -if photo.image_processed? 
			%h4{class: "text-center google-font-tangerine"}
				=photo.name
		
			= image_tag photo.image, class: 'img-thumbnail' if photo.image 
			=link_to "Comment/Share on social media", photo_path(photo.id),id: 'photo-show-page', data: {turbolinks: false}
			
			-# - meta twitter: { card: "summary_large_image", site: @salemA6, creator: @salemA6, title: photo.name, description: photo.description, image: "#{photo.image}" }

				
- if user_signed_in?
	=link_to_if  user_signed_in?, "Do you want to upload photos? Fill in the place first", new_location_path if session[:last_back].nil? 
	-# - session[:last_back]=nil
	-if !session[:last_back].nil?
		- session[:last_back]=nil
		= s3_uploader_form post: photos_url, as: "photo[image]" do 
			= file_field_tag :file, multiple: true, class: 'form-control-file' 
	
	%script{ id: 'template-upload', type: 'text/x-tmpl'}
		.upload
			:plain 
				{%=o.name%}
			%div{class: 'progress'}
				%div{class: "progress-bar progress-bar-success progress-bar-striped", role: "progressbar",style: "min-width: 2em; width: 2%;"}
		 





