-provide(:title, @photo.name)

.row.well.well-lg.show-well
	.col-sm-4.col-lg-4.col-md-4.col-xs-12.col-sm-offset-2.img-responsive
		%h4{class: "text-center google-font-tangerine"}
			=@photo.name
		=image_tag @photo.image_url(:thumb).to_s, class: 'img-thumbnail'
		- meta twitter: { card: "summary_large_image", site: @salemA6, creator: @salemA6, title: @photo.name, description: @photo.description, image: "#{@photo.image_url(:thumb).to_s}" }
		- meta og: { url: "localhost:3000/#{@photo.id}", type: 'website', title: 'Develop Sagan', description: @photo.description, image: "#{@photo.image_url(:thumb).to_s}" }

		%p{id: 'share-paragraph ', class: "text-center"}
			
			=link_to "https://twitter.com/intent/tweet?url=https://develop-sagan.herokuapp.com/photos", class: 'btn btn-primary btn-xs btn-share' do 
				%span Tweet
				=fa_icon 'twitter', class: 'fa-1x'
			
			=link_to '#', class: "btn btn-primary btn-xs btn-share" do 
				%span Post
				=fa_icon 'facebook', class: 'fa-1x'

	.col-sm-8.col-sm-offset-2
		#posts
			= nested_posts @posts.arrange(:order => :created_at)
		=render 'shared/post_form'
		%ul{class: "link-list"}
			%li{class: "link-list-item"} 
				=link_to photos_path do 
					=fa_icon 'angle-double-left', class: 'fa-1x'
					Back to photos
			%li{class: "link-list-item", id: 'new-comment-id'}
				=link_to 'New Comment',  new_photo_post_path(:photo_id =>@photo.id), remote: true, data: {turbolinks: false }
			
			