- provide(:title, "Reply")
-# %h4{class: 'page-header reply_post_header'}Reply:
-# Haml::Template.options[:ugly] = true
= form_for @post, remote: true, html: {class: "reply_post_class"} do |f|
	=render 'shared/error_messages', object: f.object
	.form-group
		=f.label :content , "Reply:"
		=f.hidden_field :parent_id 
		=f.hidden_field :commentable_id
		%br
		=f.text_area(:content,cols: 4,class: 'form-control',rows: 8, placeholder: 'Compose new comment.....')
	=f.submit "Post", class: 'btn btn-primary btn-block'