- if !@post.errors.any?
	$('#new_post')[0].reset();
	$('.reply_post_class').hide();
	$('.new_post_class').show();
	$('.error_explanation').hide();
	$('#new-comment-id').hide();
	- if @post.parent_id.nil?
		$('#posts').append('#{j render @post}');
- else 
	$('.error_explanation').hide();
	$('#new_post').before('#{j render "shared/error_messages", object: @post }')
	
