-# - if controller_name == 'registions'
-# %footer{:class => [controller_name == 'registrations' ? 'footer-absolute' : 'footer-absolute']}
-# 	%div{:class => 'container'}
-# 		%ul{class: "footer-list"}
-# 			%li{class: "footer-list-item"}
-# 				=link_to "About Me ", about_path 
-# 			%li{class: "footer-list-item"}
-# 				=link_to "Contact", contact_path 
-# 			%li{class: "footer-list-item"}
-# 				=link_to "Hometown Photo Gallery", '#'	
